<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico">
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <title></title>
</head>
<body>
    <h1 class="text-center" style="color:white">Ongeldig e-mail of wachtwoord!!</h1>
    <div class="text-center">
        <a href="{{url_for('home')}}" style="font-size:x-large">Teruggaan en probeer het opnieuw</a>
    </div>
</body>
</html>