<!DOCTYPE html>

<html lang="nl-nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="icon" href="/static/favicon.ico">
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}

    <div class="login_div text-center">
        {% for message in form.email.errors %}
        <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
        {% endfor %}
        {% for message in form.name.errors %}
        <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
        {% endfor %}
        {% for message in form.dialectregion.errors %}
        <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
        {% endfor %}
        {% for message in form.originregion.errors %}
        <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
        {% endfor %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <a href="#myModal" style="color:white; text-decoration:underline" role="button" class="btn" data-toggle="modal">Heeft dit formulier al ingevuld? Log in!</a>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" action="{{ url_for('login') }}" method=post>                          
                            <div class="form-group">
                                <input type="email" class="form-control" name="emailname" placeholder="Email">
                            </div>                   
                            <button type="submit" class="btn btn-primary">Sign in</button>

                        </form>
                    </div>             
                </div>

            </div>
        </div>
        <form class="login_form" action="{{ url_for('home') }}" method="post">
            <br />
            <h1 class="text-center">Vul uw gegevens in</h1>         
            {{ form.hidden_tag() }}

            {{ form.email }}
            <br />

            {{ form.name }}
            <br />
           

            {{ form.phonenr }}          
            <br />

            {{ form.age }}         
            <br />

            {{ form.dialectregion }}           
            <br />

            {{ form.originregion }}
            <br />          
          
            {% for subfield in form.gender %}

            {{ subfield (class_="radio-inline") }}
            {{ subfield.label }}
          
            {% endfor %}
            <br />
           
            {{ form.submit }}
            <br />
            <br />
            <p style="color:gray">By submitting this form you agree to our terms of service</p>
        </form>
        
    </div>
    {% endblock %}
</body>
</html>