<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}

    {% for message in form.email.errors %}
    <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
    {% endfor %}
    {% for message in form.name.errors %}
    <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
    {% endfor %}
    {% for message in form.dialectregion.errors %}
    <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
    {% endfor %}
    {% for message in form.originregion.errors %}
    <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
    {% endfor %}
    <div class="login_div text-center">
        <form class="login_form" action="{{ url_for('home') }}" method="post">
            <br />
            <h1 class="text-center">Enter details</h1>
            <br />
            {{ form.hidden_tag() }}

            {{ form.email }}
            <br />

            {{ form.name }}
            <br />
           

            {{ form.phonenr }}          
            <br />

            {{ form.age }}         
            <br />

            {{ form.dialectregion }}           
            <br />

            {{ form.originregion }}
            <br />          
          
            {% for subfield in form.gender %}

            {{ subfield (class_="radio-inline") }}
            {{ subfield.label }}
          
            {% endfor %}
            <br />
           
            {{ form.submit }}
            <br />
            <br />
            <p style="color:gray">By submitting this form you agree to our terms of service</p>
        </form>
        
    </div>
    {% endblock %}
</body>
</html>