<!DOCTYPE html>

<html lang="nl-nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - mestreechs-eijsden voices</title>
    <link rel="icon" href="/static/favicon.ico">
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/pager.js"></script>
</head>

<body>
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
    <div id="barwrap">
        <div class="bar">
            <span id="text">Deze site is voor onderzoeksdoeleinden. Het werkt alleen met Firefox of Chrome. Vul alstublieft het formulier in om door te gaan</span>
            <span id="otherimg"></span>
            <span id="ok"><a href="#">Dismiss</a></span>
        </div>
    </div>
    <div class="login_div text-center">       
                
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" action="{{ url_for('login') }}" method=post>                          
                            <div class="form-group">
                                <input type="email" class="form-control" name="emailname" placeholder="Email" required />                               
                            </div> 
                            <div class="form-group">
                                <input type="password" class="form-control" name="passwordname" placeholder="Wachtwoord" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>

                        </form>
                    </div>             
                </div>

            </div>
        </div>
        <form class="login_form" action="{{ url_for('home') }}" method="post">
            <br />
            <a style="color:dodgerblue; font-size:15px; text-align:center">Heeft dit formulier al ingevuld?</a> <button href="#myModal" class="btn btn-primary btn-md" data-toggle="modal">Log in!</button><br /><br />
            <h1 class="text-center">Vul je gegevens in</h1>         
            {{ form.hidden_tag() }}

            {% for message in form.email.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
            {{ form.email }}
            <br />
            {% for message in form.password.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
            {{form.password}}
            <br />
            {% for message in form.age.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}                   
            {{ form.age }}         
            <br />
            {% for message in form.dialectregion.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
            {{ form.dialectregion }}           
            <br />
            {% for message in form.originregion.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
            {{ form.originregion }}
            <br /> 
            {% for message in form.gender.errors %}
            <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
          
            {% for subfield in form.gender %}

            {{ subfield (class_="radio-inline") }}
            {{ subfield.label }}
          
            {% endfor %}
            <br /><br />
           
            {{ form.submit }}
            <br />
            <p style="color:gray">Door dit formulier ingevuld in te leveren stemt u in met de <a href="#myModal2" style="color:Highlight" data-toggle="modal">toestemmingsverklaring</a></p>
        </form>
        
        <!-- Modal -->
        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Toestemmingsverklaring</h4>
                    </div>
                    <div class="modal-body">
                        <dl>
                            <dt>Naam onderzoek:</dt> 
                            <dd>Klasjenere in Eijsden-Margraten en Maastricht</dd>
                            <dt>Verantwoordelijke onderzoeker:</dt><dd>Prof. L. Cornips</dd>
                            <br />
                            <dt>Verklaring deelnemer</dt>
                            <dd>
                                Ik heb uitleg gekregen over het doel van het onderzoek, namelijk dat de zinnen die ik inspreek In mijn dialect bewaard zullen blijven en gebruikt zullen worden voor onderzoek en voor derden om af te luisteren. Ik heb vragen mogen stellen over het onderzoek. Ik neem vrijwillig deel aan het onderzoek. Ik stem in met deelname aan het onderzoek. Daarbij geef ik toestemming om de audio-opnamen voor dit onderzoek op te slaan in een databank, volgens de geldende regels van de
                                Radboud Universiteit Nijmegen, en beschikbaar te houden voor wetenschappelijk onderzoek.
                            </dd>

                            <br />
                            <dt>Toestemming gebruik audio-/video opnamen</dt>

                            <dd>
                                Ik geef toestemming om deze audio-opnamen af te spelen op congressen en voor onderwijsdoeleinden, en om deze audio-opnamen te verspreiden via Internet voor publiek gebruik.
                            </dd>
                        </dl>                          
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    {% endblock %}
</body>
</html>