<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="midsection">
            <h4 id="starttext" style="color:dodgerblue; display:none">Recording now started...</h4>
            <h4 id="stoptext" style="color:dodgerblue; display:none">Recording Stopped</h4>
            <span class="glyphicon glyphicon-record" style="color:indianred"></span>
            <h5 class="text-center" style="color:coral; font-family:'Californian FB'; font-style:italic">Dutch</h5>
                <h2><a href="#" data-toggle="tooltip" data-placement="top" title="{{sentence.sentenceenglish}}">{{sentence.sentencedutch}}</a></h2>
            <h5 class="text-center" style="color:coral; font-family:'Californian FB'; font-style:italic">Mestreech</h5>
                <h3>{{sentence.sentencemaas}}</h3>
            <div id="container">

                <audio id="gum" autoplay muted></audio>
                <audio id="recorded" autoplay></audio>

                <div>
                    <button id="record" type="button" class="btn btn-default btn-round-md btn-md mybtn-blue">Record <span class="glyphicon glyphicon-record" style="color:indianred"></span></button>
                    <button id="play" type="button" class="btn btn-default btn-round-md btn-md mybtn-blue" disabled>Play <span class="glyphicon glyphicon-play" style="color:dodgerblue"></span></button>
                    <button id="download" type="button" class="btn btn-default btn-round-md btn-md mybtn-blue" disabled>Download <span class="glyphicon glyphicon-download-alt" style="color:cadetblue"></span></button>
                    <button id="myField" type="button" class="btn btn-default btn-round-md btn-md mybtn-blue" disabled>Submit <span class="glyphicon glyphicon-send" style="color:green"></span></button>
                </div>

            </div>
            
            <p id="paragraph"></p>
                <div class="bottom-left">
                    <p>Category: {{sentence.category}}</p>
                </div>
        </div>
    </div>
    <ul class="pager">
        {% if rnd > 0 %}
        <li><a href="{{url_for('sentences', id=rndNumber[rnd-1], rand=rnd-1)}}">Previous</a></li>
        {% else %}
        <li class="disabled"><a href="#">Previous</a></li>
        {% endif %}
        {% if rnd < length %}
        <li><a href="{{url_for('sentences', id=rndNumber[rnd+1], rand=rnd+1)}}">Next</a></li>
        {% else %}
        <li><a href="{{url_for('contact')}}">Finish</a></li>
        {% endif %}
    </ul>


    <!-- include adapter for srcObject shim -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/static/scripts/main.js"></script>

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

    {% endblock %}
</body>
</html>