<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/static/scripts/pager.js"></script>
</head>
<body>
    <div class="text-center">
        <div class="content">
            <h1>NEWS 1</h1>
            <h3>Page 1 contents...</h3>
        </div>
        <div class="content">
            <h1>NEWS 2</h1>
            <h3>Page 2 contents...</h3>
        </div>
        <div class="content">
            <h1>NEWS 3</h1>
            <h3>Page 3 contents...</h3>
        </div>
        <div class="content">
            <h1>NEWS 4</h1>
            <h3>Page 4 contents...</h3>
        </div>
        <div class="content">
            <h1>NEWS 5</h1>
            <h3>Page 5 contents...</h3>
        </div>
    </div>

    <nav class="text-center">
        <ul class="pagination">
            <li class="pag_prev">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="pag_next">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>