<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="midsection">
            <span class="glyphicon glyphicon-record" style="color:indianred"></span>
                <h2>{{sentence.sentencedutch}}</h2>
                <h3>{{sentence.sentenceenglish}}</h3>
                <div class="bottom-left">
                    <p>Category: {{sentence.category}}</p>
                </div>
        </div>
    </div>
    <ul class="pager">
        <li><a href="{{url_for('sentences', id=sentence.sentenceid-1)}}">Previous</a></li>
        <li><a href="{{url_for('sentences', id=sentence.sentenceid+1)}}">Next</a></li>
    </ul>

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

    {% endblock %}
</body>
</html>