<!DOCTYPE html>

<html lang="nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/interval.js"></script>
    <script src="/static/scripts/timeout.js"></script>
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}
    <div id="splash">
        <!--Put splash here-->
        <header class="intro">
            <h1>Instructie</h1>
            <h4>             
                1.Gebruik de 'record' knop om te beginnen met het opnemen van de uitspraak van de zin.<br />
                2.Wanneer u klaar bent, klik op 'stop opnemen' om de opname te stoppen.<br />
                3.Om te luisteren naar wat is opgenomen, klik op de afspeelknop.<br />
                4.Klik op de downloadknop om het opgenomen geluidsbestand te downloaden<br />
                5.Als u door wilt gaan en de opname wilt indienen, klikt u op de submit knop.<br />
                6.Vergeet niet om de toegang tot uw microfoon toe te staan ​​om audio op te nemen
            </h4>
            <br />
            <div class="loader"></div> 
                            
            <div id="timerdiv"></div>
        </header>
    </div>
    <div id="main">
        <!-- keep empty -->
    </div>

    <!-- include adapter for srcObject shim -->

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}
    {% endblock %}
</body>
</html>