<!DOCTYPE html>

<html lang="nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Instruction - mestreechs-eijsden voices</title>
    <link rel="icon" href="/static/favicon.ico">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/pager.js"></script>
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}
    <div id="splash">
        <!--Put splash here-->
        <header class="intro">
            <div class="loader"></div> 
            <h1>Instructie</h1>
            <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">             
                Op de volgende pagina kunt u zinnen opnemen in uw gekozen dialect, deze opnames afspelen, ze downloaden en inleveren voor onderzoeksdoeleinden.<br />
                Klik op de knop 'Opslaan' wanneer u klaar bent met opnemen
            </h4>
            <br />
            <dl>
                <dt>Kies Mestreechs (Maastrichts) of Eèsjdes (Eijsdens) en het aantal zinnen</dt>
                <br />
                <form action="{{url_for('passdata')}}" method="post">
                    <mark>Kies dialect</mark>
                    <label class="radio-inline"><input type="radio" name="dialect" value="Mestreech" required>Mestreechs/Maastrichts</label>
                    <label class="radio-inline"><input type="radio" name="dialect" value="Eijsden" required>Eèsjdes/Eijsdens</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mark>Kies aantal zinnen</mark>
                    <label class="radio-inline"><input type="radio" name="sentencecount" value="5" required>5</label>
                    <label class="radio-inline"><input type="radio" name="sentencecount" value="15" required>15</label>
                    <label class="radio-inline"><input type="radio" name="sentencecount" value="20" required>20</label>
                    <label class="radio-inline"><input type="radio" name="sentencecount" value="30" required>30</label><br /><br />
                    <button type="submit" class="buttoninstruct"><span>Ga verder</span></button>
                </form> 
            </dl>                                                            
        </header>
    </div>
    <div id="main">
        <!-- keep empty -->
    </div>

    <!-- include adapter for srcObject shim -->

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}
    {% endblock %}
</body>
</html>